/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&family=Yeseva+One&display=swap');
body {
    font-family: "Poppins", serif;
}
body h1,p {
    margin: 0;
}
.flexiable-container{
    display: flex;
    margin: 0 auto;
}
.half-width {
    width: 60%;
}
.container{
    width:80% ;
}
.highlight {
    color:#FFAD5A ;  
}
.gap{
    gap: 30px;
}
/* Header Section CSS */
.content-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
}
.content-area h1 {
    font-family: Yeseva one;
    font-size: 60px;
    font-weight: 400;
    border-left:4px solid #ff5959;
    padding-left: 15px ;
}

.content-area p{
    font-size: 18px;
}
 .button a { 
    background-color: #ff5959;
    display: inline-block;
    padding: 10px 25px;
    color:white ;
    text-decoration: none;
    border-radius: 5px ;
}

header .avatar{
 text-align: center;
 justify-content: center;
}
.avatar img{
    width: 80%;
}
/* Mission section  CSS*/
.mission{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-top: 50px ;
}
.mission h1{
    font-size:40px ;
    text-align: center;
}
.mission .items{
    display: flex;
    gap: 20px;
/* width: 100%; */
}
.items .item {
    border-radius: 20px;
    padding: 20px;
}
.items.items img{
    width: 150px;
}

#item1{
    background-color: #4f9da61a;
}
#item2{
    background-color: #ff8b591a;
}
#item3{
    background-color:#fff4d6 ;
}
/* Develop Scetion */
.developer{
   background-image: url(images/shapes/shape-1.png),
   url(images/illustrators/pattern.svg.svg);
   background-repeat: no-repeat;
   background-size: 15% , 8%;
   background-position: left center, left bottom;
}
.develop{
    display: flex;
    gap: 60px;
}
.text{
    width: 400px
}
.left-contant img{
    width: 100%;
}
.develop .right-contant h1{
    font-size: 36px;
}

.right-contant{

  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
}
.right-contant a {
 background-color:  #ff5959;
 text-decoration: none;
 padding: 10px 40px;
 display: inline-block;
 border-radius: 5px;
 color: white;
}
.photo {
    width: 50%;
}
.padding-y{
    padding: 100px;
}
 
/* Global Community Section */

.community img{
    width: 100%;
}
.community .third-half{
     width: 150%; 
}
.community h1{
    font-size: 36px;
}
.community a {
    background-color: #ff5959;
    text-decoration: none;
    color: white;
    padding: 10px 40px;
    display: inline-block;
    border-radius: 5px;
}
.community .right-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.community{
    background-image: url(images/shapes/shape-1.png);
    background-size:15% ;
    background-repeat: no-repeat;
    background-position: right bottom;
}

/* Health Section */
.health{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-top: 50px;
}
.health h1 {
    text-align: center;
    font-size: 40px;
}
.health .boxs{
display: flex;
gap: 20px;
}
.box-2{
display: flex;
flex-direction: column;
justify-content: center;
row-gap: 20px;
}

.box-2 a{ 
background-color: rgb(255, 89, 89);
text-decoration: none;
padding: 10px 40px;
display: inline-block;
border-radius: 5px;
color: white; 
}
.side{
    width: 40%;
}